body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pulse-anim {
  fill: none;
}

.artboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.artboard-container button {
  background: #000000;
  padding: 0.35em 1.2em;
  text-align: center;
  font-size: large;
  transition: all 0.2s;
  position: relative;
  width: 100px;
  height: 50px;
  border: none;
}

.artboard-container button:hover{
  background-color: rgb(54, 54, 54);
}


.toolbar {
  background-color: #000000;
  display: flex;
  flex-direction: column;
}

.button-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
}

.ants-icon {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.random-ant {
  stroke-width: 1px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.artboard {
  width: 100vw;
  height: auto;
  display: inline-block;
}
