body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pulse-anim {
  fill: none;
}

.artboard-container {
  width: 100%;
  height:100;
}

.random-ant {
  stroke-width: 1px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.butterfly-wing {
}
