@mixin breakpoint($size) {
    @if $size == supersml {
      @media (max-width: 767px) { @content; }
    }
   
    @else if $size == sml {
      @media (min-width: 768px) { @content; }
    }
   
    @else if $size == med {
      @media (min-width: 992px) { @content; }
    }
   
    @else if $size == lge {
      @media (min-width: 1200px) { @content; }
    }
   
    @else {
      @warn "Invalid value, must be supersml, sml, med or lge";
    }
  }

  @mixin button-themed {
    background: #000000;
    padding: 0.35em 1.2em;
    text-align: center;
    font-size: large;
    transition: all 0.2s;
    position: relative;
    width: 100px;
    height: 50px;
    border: none;
    outline: none; 
    &:hover {
      background-color: rgb(121, 120, 120);
      cursor: pointer;
    }
    &:active {
      background-color: rgb(75, 74, 74);
    }
  }